<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/js/hello.js"></script>

    </head>
    <body>
    	
       {% for table in tables %}
	   <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
		{% endfor %}
    
    <img src = "{{img_pie}}" alt="Absenties count" width="500" height="500">
</img>  
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

    <img src = "{{img_bar}}" alt="bar chart" width="650" height="500">
</img> 
	
    </body>
	
	
</html>